{% extends "base.html" %}
  {% block head %}
    <title>{%block title%} Contacts {%endblock%}</title>
	 {{ super() }}
    <style>
    li.ctc{
            padding:5px;
            margin: 2px;
            background-color:#EADDCA;
          }
    </style>
  {% endblock %}
 </head>
 <body>
 {% block body %}
<nav class="navbar navbar-expand-lg">

       <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Sibware</a>
              </div>
           <ul class="nav navbar-nav">
           <li class="nav-item">
           {% if current_user.profile_pic %}
            {% set picy=current_user.profile_pic %}
             {% else %}
           {% set picy="empty.PNG" %}
           {% endif %}

                 <img id="tatoo" src="{{url_for('static',filename=picy)}}" name="userppp" class="img-circle" width="50" height="50">
                 
             </li>
           </li>
        {% if current_user.status==2 %}
            <li class="active">
              <a class="nav-link" href="{{url_for('users.user_login')}}">Main</a>
             </li> 
           
           {% else %}
           
             <li class="active">
              <a class="nav-link" href="{{url_for('users.admin_login')}}">Admin Main</a>
             </li>         
            {% endif %}                     
          <li class="nav-item">
              <a  class="nav-link" href="{{url_for('users.logout')}}">Logout </a>
            </li>
           </ul>
       </div>
   </nav>
   <div class= "row">
      <div class="col-md-2 col-lg-2">
      
      </div>
       <div class="col-md-8 col-lg-8">
       <h4> Contacts</h4>
       {% for contact in contacts %}
        {% if contact.id==1 %}
          <li class="nav-link ctc"> <a href="{{url_for('users.chat',user_id=contact.id)}}"> {{contact.first_name}} {{contact.surname}}</a> <small>admin</small></li>
        {% else %}
        <li class="nav-link ctc"> <a href="{{url_for('users.chat',user_id=contact.id)}}"> {{contact.first_name}} {{contact.surname}}</a></li>
       {% endif %}
       {% endfor %}

      </div>
      <div class="col-md-2 col-lg-2">
      </div>
   </div>
 {% endblock %}
 </body>
 </html>
   